<?xml version='1.0' encoding='utf-8'?>
<widget id="pro.rudloff.openvegemap" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenVegeMap</name>
    <description>
        OpenVegeMap Cordova app
    </description>
    <author email="contact@rudloff.pro" href="http://cordova.io">
        Pierre Rudloff
    </author>
    <content src="index.html" />
    <icon src="www/img/logo_512.png" />
    <access origin="https://maps.wikimedia.org" />
    <access origin="https://overpass-api.de" />
    <access origin="https://nominatim.openstreetmap.org" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <exclude-files pattern="node_modules/" />
    <exclude-files pattern="bower_components/leaflet/" />
    <exclude-files pattern="bower_components/onsenui/js/" />
    <exclude-files pattern="bower_components/leaflet-plugins/" />
    <preference name="OverviewColor" value="#009688" />
    <engine name="android" spec="~6.1.2" />
    <plugin name="cordova-plugin-exclude-files" spec="~0.2.0" />
    <plugin name="cordova-plugin-geolocation" spec="~1.0.0" />
    <plugin name="cordova-plugin-overview" spec="~0.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
