<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-exclude-files" version="0.2.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>Exclude Files</name>

    <hook type="after_plugin_install" src="scripts/install-deps.js"/>
    <hook type="after_prepare" src="scripts/exclude-files.js"/>
</plugin>
